// 小屏幕 无需媒体查询因为是默认的(移动设备优先)
:root {
  --f-button-padding: var(--f-padding-4);
  --f-button-padding-lg: var(--f-padding-6);
  --f-button-padding-sm: var(--f-padding-3);
  --f-button-padding-xs: var(--f-padding-2);

  // calc(16px*1.5/0.618);
  --f-button-height-large: 39px;
  --f-button-height-normal: 34px;
  --f-button-height-small: 29px;
  --f-button-height-mini: 24px;

  --f-button-plain-color: var(--f-bg);
  // 默认圆角大小
  --f-button-border-radius: var(--f-bd-radius-base);
}

.f-button {
  height: var(--f-button-height-normal);
  padding: 0 var(--f-button-padding);
  display: inline-block;
  border: 1px solid var(--f-bd-color);
  border-radius: var(--f-button-border-radius);
  transition: var(--f-transition-base);
  box-sizing: border-box;
  cursor: pointer;

  appearance: none; // 去除button原生样式
  outline: none; // 去除聚焦样式
  margin: 0;
  font-weight: normal;
  user-select: none;

  &__content {
    @include flex('cc');
    line-height: 1;
  }

  // type 按钮类型
  &--default {
    color: var(--f-text-color);
    background: var(--f-bg-light);
    border-color: var(--f-bd-color);

    &:hover {
      color: var(--f-primary-color-hover);
      border-color: var(--f-primary-color-hover);
    }

    &:active {
      color: var(--f-primary-color-active);
      border-color: var(--f-primary-color-active);
    }
  }

  @each $item in primary, success, warning, danger {
    &--#{$item} {
      @include button-color($item)
    }

    // 朴素按钮
    &--#{$item}.is-plain {
      background: var(--f-button-plain-color);
      color: var(--f-#{$item}-color);

      &:hover {
        color: var(--f-button-plain-color);
      }
    }
  }

  // 按钮尺寸
  &--large {
    width: 100%;
    height: var(--f-button-height-large);
    font-size: var(--f-text-lg);
  }

  &--small {
    height: var(--f-button-height-small);
    padding: 0 var(--f-button-padding-sm);
    font-size: var(--f-text-sm);
  }

  &--mini {
    height: var(--f-button-height-mini);
    font-size: calc(var(--f-text-sm) - 2px);
    padding: 0 var(--f-button-padding-xs);
  }

  // 是否为链接按钮
  &.is-link {
    background: none;
    border: none;
  }

  // 是否为块级元素
  &.is-block {
    display: block;
    width: 100%;
  }

  // 是否为朴素按钮

  // 自定义颜色
  &.is-color {
    &:hover {
      opacity: var(--f-opacity-hover);
    }
  }

  // 是否为方形按钮
  &.is-square {
    border-radius: 0;
  }

  // 是否为圆角按钮
  &.is-round {
    border-radius: var(--f-bd-radius-max);
  }

  // 是否为圆形
  &.is-circle {
    border-radius: 50%;
  }

  @each $item in large, normal, small, mini {
    &--#{$item}.is-circle {
      width: var(--f-button-height-#{$item});
    }

    &--#{$item}.is-mono {
      width: var(--f-button-height-#{$item});
      border-color: transparent;
      background: transparent;
      color: inherit;
    }
  }

  // 是否禁用按钮
  &.is-disabled,
  &.is-loading {
    cursor: not-allowed;
    opacity: var(--f-opacity-disabled);
  }

  // icon 图标 或加载
  &__icon+&__text,
  &__text+&__icon {
    margin-left: var(--f-padding-base);
  }
}

// 中屏幕（平板，大于等于 768px [768-992]）
@include media-breakpoint(md) {
  .f-button {
    &--large {
      width: 200px;
      padding: 0 var(--f-button-padding-lg);
    }
  }
}

// 大屏幕（桌面显示器，大于等于 992px）
@include media-breakpoint(lg) {
  .f-button {
    &--large {
      width: auto;
      padding: 0 var(--f-button-padding-lg);
    }
  }
}